<footer class="page-footer" style="background-color: green;">
  <div style="display:flex; flex-direction: row; justify-content:space-around">
    <div id="map" style="margin-left:30px">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2521.9257147138705!2d41.99922262281567!3d50.795485258898736!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x413d60f89dd60819%3A0xcd756d64b125577e!2z0J_QsNC80Y_RgtC90LjQuiDQmtC-0LfQtQ!5e0!3m2!1sru!2sru!4v1616066370929!5m2!1sru!2sru"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    <div style="display:flex; flex-direction:column; justify-content: center">
      <div>
        <ul>
          <li><a class="grey-text text-lighten-3" >Контактная информация:</a></li>
          <li><a class="grey-text text-lighten-3" >г.Урюпинск, за памятником Козе</a></li>
          <li><a class="grey-text text-lighten-3" >телефон для справок: 8-800-555-5555</a></li>
          <br>
          <br>
          <li><a class="grey-text text-lighten-3" href="/admin">Личный кабинет администратора</a></li>
        </ul>
      </div>
   
     
    </div>
  </div>
  <br>
  <br>
  <div style="display:flex; justify-content: center">
    <div>
      © 2021 by LAD'Ы
    </div>
  </div>
</footer>

<style type="text/css">

</style>
