<nav>
  
  <div class="nav-wrapper">
    <img id = "emblema" src="/images/emblema.jpg" alt="">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {{#if isAdmin}}
      <li><a href="/"> Главная</a></li>
      <li><a href="/animal/new"> Добавить животное</a></li>
      <li><a href="/animal">Животные</a></li>
      <li><a href="/price">Тарифы</a></li>
      <li><a href="/logout">Выйти</a></li>
      {{else}}
      <li><a href="/"> Главная</a></li>
      <li><a href="/animal">Животные</a></li>
      <li><a href="/price">Тарифы</a></li>
       {{/if}}
    </ul>
  </div>
</nav>
