{{!-- <nav>
  <a href="/">Главная</a> | <a href="/animal">Животные</a> | <a href="/price">Тарифы</a>
</nav> --}}

<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/"> Главная</a></li>
      <li><a href="/animal">Животные</a></li>
      <li><a href="/price">Тарифы</a></li>
    </ul>
  </div>
</nav>
