<form method="POST" action="/admin" style=" margin-left:450px; margin-bottom: 20px; margin-top: 20px; display:flex; flex-direction: column; align-items: center; width:300px">
   <input type="text" name="name" autocomplete="off" placeholder="Введите логин">
   <input type="password" name="password" autocomplete="off" placeholder="Введите пароль">
   <button type="submit">Войти</button>
</form>

