  <div class="row">
    <div class="col s12 m7">
      {{#each animals}}
      <div class="card">
        <div class="card-image">
          <img src="{{this.frontImg}}">
        </div>
        <div class="card-content">
          <p class="signature">{{this.info}}</p>
        </div>
        <div class="card-action">
          <a href="/animal/{{this._id}}">{{this.name}}</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
