<h1 style="text-align: center;">Добро пожаловать на сайт Урюпинского Зоопарка!</h1>
<div class="row">
<div class="col s12">
<div class="col s1"></div>
<div class="col s10"><img  width="1250" src="/images/mapzoo.jpg" alt=""></div>
<div class="col s1"></div>
</div>
</div>


<div class="row">
<div class="col s12">
  <p>Урюпинский зоопарк – главная достопримичательность Урюпинска. Это один из старейших зоопарков России. На данный момент, сохраняя архитектурную планировку зоопарк является частью архитектурного ансамбля города, а также хранителем его исторического наследия.
Изначально это был частный зверинец. Впоследствии он сменил множество владельцев, более 50 лет оставаясь частным учреждением. Зоопарк приглашает всех, у кого сохранились фотографии, печатные материалы, просто воспоминания о довоенном и военном зоосаде, помочь в восстановлении его истории.

Наш зоопарк - один из самых маленьких в Европе и один из немногих, находящихся в центре города. И все это порождает его специфику!
Приходите в Урюпинский зоопарк почаще, и Вы сможете сами увидеть, как он преображается! А средства, потраченные на билет, станут Вашим вкладом в его развитие.</p>
</div>
</div>

