<h1 style="text-align: center;">Добро пожаловать на сайт Урюпинского Зоопарка!</h1>

<div class="map"><img  width="1250" src="/images/main.jpg" alt=""></div>
<div class="time">Приходите в Урюпинский зоопарк почаще, и Вы сможете сами увидеть, как он преображается! А средства, потраченные на билет, станут Вашим вкладом в его развитие.</div>
<div class="map"><img  width="1250" src="/images/mapzoo.jpg" alt=""></div>



  <div class="time">
    <div>Режим работы</div>
    <div>Ежедневно с 10:00 до 22:00</div>
    <div>Кассы работают с 10:00 до 21:30</div>
    <div>Билеты можно приобрести только в кассах на территории зоопарка на текущий день. Билеты всегда есть в наличии.</div>
  </div>

