<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script defer src="js/applications.js"></script>

  <title>ZOOPARK</title>
</head>

<body>
{{{body}}}
</body>

</html>
