<form method="post" action="/animal" id ="pictureUpload" enctype="multipart/form-data">
  <label class="block mar-b-1">Имя животного:</label>
  <input id="title-input" name="name" type="text" >

  <label for="body-textarea" class="block mar-b-1">Описание животного:</label>
  <textarea id="body-textarea" name="info"></textarea>

  <input type="file" name="filedata" /><br><br>
  <input name ="sendPicture" type="submit" value="Отправить" />
</form>
