 <h1>
   Стоимость билетов
 </h1>
 <p>
    Информация о стоимости билетов, льготах и режиме работы по тел.:  +7 (812) 233–26-54
 </p>
 
  <table class="striped">
        <thead>
          <tr>
              <th>Будние дни</th>
              <th>Цены в рублях</th>
              <th>Выходные дни</th>
              <th>Цены в рублях</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Взрослый билет</td>
            <td id="changeAdult">600</td>
            <td>Взрослый билет</td>
             <td id="changeAdultW">900</td>
          </tr>
          <tr>
            <td>Детский билет</td>
            <td id="changeAdult">300</td>
            <td>Детский билет</td>
             <td id="changeAdult"> 500</td>
          </tr>
          <tr>
        </tbody>
      </table>
      
      {{#if isAdmin}}
       <button id="change">изменить</button>  
      {{/if}}
