<h1>Тарифы</h1> 


<form id="price" method="post" action="/price">
      <table>
        <thead>
          <tr>
              <th>Выходные</th>
              <th></th>
              <th>Будни</th>
              <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Взрослый</td>
            <td class="cost" name="price1">300</td>
            <td>Взрослый</td>
            <td class="cost">400</td>
          </tr>
          <tr>
            <td>Детский</td>
            <td class="cost">200</td>
            <td>Детский</td>
            <td class="cost">250</td>
          </tr>
        </tbody>
      </table>
      {{#if isAdmin}}
       <button id="change" type="submit">Изменить</button>
      {{/if}}
</form>
