<h1>Тарифы</h1> 



      <table>
        <thead>
          <tr>
              <th>Выходные</th>
              <th>Будни</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Взрослый</td>
            
            <td>Взрослый</td>
          </tr>
          <tr>
            <td>Детский</td>   
            <td>Детский</td>
          </tr>
        </tbody>
      </table>
       <button id="change">изменить</button>  
