<h1>Загрузка фоточки</h1>
{{#if path}}
<h1>{{path}}</h1>
<img src="{{path}}" alt="">
{{/if}}
    <form id ="pictureUpload" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="filedata" /><br><br>
        <input name ="sendPicture" type="submit" value="Отправить" />
      </form>
<img src="/images/1616055321876-tigr" alt="">
