nav {
  background-color: green;
}

h1 {
  color: green;
}

.signature {
    white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    padding: 5px; /* Поля вокруг текста */
    text-overflow: ellipsis; /* Добавляем многоточие */
   width: 150px;
}
.amber {
  background-color: white !important;
}
.carousel.carousel-slider .carousel-item {
  width: 50%;
  height: 50%;
}
.filters__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
}
.filters__img img {
  width: initial;
  height: 100%;
}
.redact {
  width: 20px;
  height: 20px;
}
.redact:hover {
  cursor:pointer;
 }
.inpuAnimalName {
  width: 50%;
}
